node_modules
npm-debug.log*

.next
out
build
coverage

.git
.gitignore
.github

.env
.env.local
.env.*.local
.env.production

*.db
*.db-journal
*.tsbuildinfo

Dockerfile
Dockerfile.dev
docker-compose*.yml
.dockerignore

README.md
