@import "tailwindcss";

@theme {
  /* Redéfinition de la police principale par défaut (font-sans) */
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  
  /* Redéfinition de la police à espacement fixe (font-mono) */
  --font-mono: var(--font-space-mono), ui-monospace, SFMono-Regular, monospace;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}